body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Oswald', sans-serif;
  }
  
  header {
    background-color: black;
    height: 60px;
  }
  
  .toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 15px;
  }
  
  .menu-icon {
    color: white;
    font-size: 24px;
    padding-right: 10px; /* Adjust this value to create space between icon and toolbar right edge */
  }
  